* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 750px;
}

.container .content {
    justify-content: center;
    width: 330px;
}

.content .firstname {
    font-size: 65px;
    font-weight: 800;
}

.content .lastname {
    top: 0;
    font-size: 65px;
    font-weight: 800;
    margin-top: -30px;
}

.content hr {
    width: 70px;
    height: 5px;
    background-color: yellow;
    border: none;
    border-color: yellow;
}

.content .btn {
    padding: 10px 25px;
    border: none;
    background-color: yellow;

}

img {
    width: 300px;
    height: min-content;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}